.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

neopixel-project.sublime-project
neopixel-project.sublime-workspace

# =========================
# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
